.autocomplete-form{
    display: flex;
    justify-content: center;
    min-width: 400px;
    @include breakpoint(mobile) {
        min-width: 320px;
    }
    &__button{
        border: 0;
        background-color: color(primary,500);
        border: 0;
        height: 40px;
        width: 50px;
        cursor: pointer;
        svg{
            path{
                fill: $white;
            }
        }
    }
}